*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    
}

header{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 60px;
    padding-left: 30px;
    background-color: rgb(190, 159, 18);
}

.CXpesquisa{
    padding-right: 30px;
}

.icone{
    width: 150px;
    height: 150px;
    box-shadow: 5px 15px 5px rgb(177, 143, 33);
    border: 1px black solid;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-top: 50px;
}

.videos{
    padding: 20px;
}

.videos p{
    padding-top: 15px;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    border: 1px solid black;
    align-items: center;
    justify-content: space-between; 
    height: 60px;
    padding-left: 30px;
    background-color: rgb(190, 159, 18);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.input{
    border-radius: 6px;
}

.videocofig{
    display: block;
    align-items: center;
}

.videocofig video{
    width: 800px;
    height: 500px;
}

@media screen and (max-width: 380px) {
    *{
        padding: 0;
        margin: 0;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    
    header{
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 50px;
        padding-left: 10px;
        background-color: rgb(190, 159, 18);
        max-width: 380px;
    }

    footer{
        border: 1px solid black;
        align-items: center;
        height: 50px;
        background-color: rgb(190, 159, 18);
        position: fixed;
        bottom: 0px;
        max-width: 380px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    .CXpesquisa{
        margin-left: 100px;
    }

    .botao{
        width: 60px;
        font-size: 12px;
        margin-bottom: 6px;
    }

    .input{
        width: 140px;
        margin-bottom: 2px;
        border-radius: 6px;
    }

    .videocofig video{
        width: 350px;
        height: 250px;
    }


}